body {
      background: thistle;
      position: fixed;
      top: 50%;
      left: 10%;
      right: 10%;
      margin-top: -50px;
      margin-left: -50px;
      margin-right: -50px
}

h1 {
    color: tomato;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-weight: 200;
    line-height: 25px
}

p {
   border: .25px solid snow;
   padding: 20px;
   color: darkslategray;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 17px;
   font-weight: 200;
   line-height: 25px
}
