<html>
  <head>
    <title>Personal Site</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <h1>emmie hayes</h1>
    <p>I'm a project manager turned backend developer studying at Turing School of Software and Design in Denver, CO.  Born and raised in South Carolina, I consider myself lucky to call Colorado my home. When I'm not in class, you'll probably find me daydreaming about what my life will look like as a developer, hanging outside with my husband, Thomas, and our dogs, Oakley and Inspectah, planting food in my backyard, or free soloing countertops in search of honey.</p>
    <a href="/blog">blog</a>
  </body>
</html>
